__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

.venv/
.env

data/raw/
data/processed/
data/visualizations/
tests/
runs/
checkpoints/
external/
*.pt
*.pth
*.onnx
*.mlpackage
*.mlmodel

.DS_Store

docs/
CLAUDE.md
notebooks/

.kaggle/
